@charset "UTF-8";
/* Seismokraft Shared CSS */
.eventInfoBlock {
	padding: 5px;
	margin-right: 4%;
	float: left;
	width: 20%;
	border: 2px solid #CCCCCC;
	border-radius: 5px;
	background-color: #FFE292;
}
.eventInfoBlock h1 {
	padding: 1px;
	text-align: center;
	font-weight: bolder;
	font-variant: small-caps;
	color: #333333;
	text-decoration: underline;
}
.eventInfoBlock h3 {
	letter-spacing: 0.4em;
	text-align: center;
	font-weight: bolder;
	text-decoration: underline overline;
	color: #000000;
}
.eventInfoBlock h4 {
	text-transform: capitalize;
	font-size: 14px;
	text-align: center;
	font-variant: small-caps;
}
.eventInfoBlock p {
	font-size: 12px;
	font-style: italic;
	text-align: right;
	float: right;
	padding-top: -5px;
}
#transportWindow {
	height: 400px;
	width: 90%;
	margin-top: 20px;
	border: 2px solid #CCCCCC;
	clear: both;
	text-align: center;
	padding-left: 2%;
}
.transport {
    height: 300px;
	width: 30%;
	float: left;
	margin-right: 2%;
}

#map-canvas {
	width: 80%;
}

#eventsInfo {
	vertical-align: middle;
}
#underConstruction{
	font-weight: bold;
	text-transform: uppercase;
	color: #59371A;
	text-align: center;
	clear:both;
	width: 90%;
}
#underConstruction #gitHubButton a {
	background-color: #FFCC66;
	border: 2px solid #CC3333;
	text-decoration:none;
	clear:both;
}

/* Inputs */
input{
    background-color: #555555;
    color: #000000;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* thumbs */

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

/* Tracks */
input[type=range]::-webkit-slider-runnable-track {
    width: 90%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #cccccc;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #cccccc;
}

input[type=range]::-moz-range-track {
    width: 90%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #cccccc;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 90%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

/* output bubbles */
output {
    position: absolute;
    background-image: linear-gradient(top, #ABABAC, #FFFFFF);
    width: 40px;
    height: 30px;
    text-align: center;
    color: black;
    border-radius: 10px;
    display: inline-block;
    font: bold 15px/30px Georgia;
    bottom: 175%;
    left: 0;
    margin-left: -1%;
}
output:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #999999;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}