@charset "UTF-8";
/* Seismokraft Shared CSS */
.eventInfoBlock {
	padding: 1%;
	margin-right: 0%;
	float: left;
	width: 31%;
	outline: 2px solid #CCCC99;
	border-radius: 5px;
	background-color: #A8A4AB;
    color: #292736;
}
.eventInfoBlock h1 {
	padding: 1px;
	text-align: center;
	font-weight: bolder;
	font-variant: small-caps;
	text-decoration: underline;
}
.eventInfoBlock h3 {
	letter-spacing: 0.4em;
	text-align: center;
	font-weight: bolder;
	text-decoration: underline overline;
}
.eventInfoBlock h4 {
	text-transform: capitalize;
	font-size: 14px;
	text-align: center;
	font-variant: small-caps;
}
.eventInfoBlock p {
	font-size: 12px;
	font-style: italic;
	text-align: right;
	float: right;
	padding-top: -5px;
}
#transportWindow {
	width: 100%;
	margin-top: 14px;
	clear: both;
	text-align: center;
	padding-left: 0%;
}
.transport {
	width: 33%;
	float: left;
	margin-right: 0%;
}

.transport img {
    width: 100%;
    border-radius: 4px;
    outline: 2px solid #CCCC99;

}

.statusLabel{
    float: right;
    margin-right: 2%;
}

#map-canvas {
	width: 80%;
}

#eventsInfo {
	vertical-align: middle;
}
#underConstruction{
	font-weight: bold;
	text-transform: uppercase;
	color: #CCCCCC;
	text-align: center;
	clear:both;
	width: 90%;
}
#underConstruction #gitHubButton a {
	background-color: #A2A0A7;
	border: 2px solid #EE6666;
	text-decoration:none;
	clear:both;
}

#underConstruction #gitHubButton a:hover{
    background-color: #34201D;
}

#crossfade_panel {
    padding-bottom: 10px;
    background-color: #B39C96;
    color: #60160F;
}

#tune_panel {
    padding-bottom: 10px;
    background-color: #888890;
}

#filter_panel {
    padding-bottom: 10px;
    background-color: #A57F73;
}

#fft_panel {
    background-color: #000000;
}

form {
    clear: both;
}

/* Inputs */
input{
    background-color: #555555;
    color: #000000;
}

.btn{
    border-radius : 12px 12px 12px 12px ;
    width: 100%;
    height: 40px;
    moz-border-radius : 12px 11px 3px 3px ;
    -webkit-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
    -moz-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
    box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
    font-size : 20px;
    color : #001584;
    padding : 1px 10px;
    background : #CCCC99;
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CCCC99), color-stop(100%,#8a8a8a));
    background : -moz-linear-gradient(top, #CCCC99 0%, #8a8a8a 100%);
    background : -webkit-linear-gradient(top, #CCCC99 0%, #8a8a8a 100%);
    background : -o-linear-gradient(top, #CCCC99 0%, #8a8a8a 100%);
    background : -ms-linear-gradient(top, #CCCC99 0%, #8a8a8a 100%);
    background : linear-gradient(top, #CCCC99 0%, #8a8a8a 100%);
    filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#8a8a8a',GradientType=0 );

}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* thumbs */

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

/* Tracks */
input[type=range]::-webkit-slider-runnable-track {
    width: 90%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #cccccc;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #cccccc;
}

input[type=range]::-moz-range-track {
    width: 90%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #cccccc;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 90%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

/* radio and checkboxes */

input[type=radio   ]:not(old){
    width     : 2em;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    opacity   : 0;
}


input[type=radio   ]:not(old) + label{
    display      : inline-block;
    margin-left  : -2em;
    line-height  : 1.5em;
}


input[type=radio   ]:not(old) + label > span{
    display          : inline-block;
    width            : 0.875em;
    height           : 0.875em;
    margin           : 0.25em 0.5em 0.25em 0.25em;
    border           : 0.0625em solid rgb(192,192,192);
    border-radius    : 0.25em;
    background       : rgb(224,224,224);
    background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
    vertical-align   : bottom;
}

input[type=radio   ]:not(old):checked + label > span{
    background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}
/*
input[type=checkbox]:not(old):checked + label > span:before{
    content     : '◊';
    display     : block;
    width       : 1em;
    color       : rgb(99,94,240);
    font-size   : 0.875em;
    line-height : 1em;
    text-align  : center;
    text-shadow : 0 0 0.0714em rgb(69,64,210);
    font-weight : bold;
}
*/
input[type=radio]:not(old):checked + label > span > span{
    display          : block;
    width            : 0.5em;
    height           : 0.5em;
    margin           : 0.125em;
    border           : 0.0625em solid rgb(99,94,240);
    border-radius    : 0.125em;
    background       : rgb(69,64,210);
    background-image :    -moz-linear-gradient(rgb(99,94,240),rgb(69,64,210));
    background-image :     -ms-linear-gradient(rgb(99,94,240),rgb(69,64,210));
    background-image :      -o-linear-gradient(rgb(99,94,240),rgb(69,64,210));
    background-image : -webkit-linear-gradient(rgb(99,94,240),rgb(69,64,210));
    background-image :         linear-gradient(rgb(99,94,240),rgb(69,64,210));
}

/* output bubbles */
output {
    position: absolute;
    background-image: linear-gradient(top, #ABABAC, #FFFFFF);
    width: 40px;
    height: 30px;
    text-align: center;
    color: black;
    border-radius: 10px;
    display: inline-block;
    font: bold 15px/30px Georgia;
    bottom: 175%;
    left: 0;
    margin-left: -1%;
}
output:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #999999;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}